* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  overflow: hidden; /* Evita barra de rolagem dupla */
  font-family: sans-serif;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
}

.col-md-4, .col-md-8 {
  padding: 0 !important;
  height: 100%;
}

.overflow-auto {
  overflow-y: auto;
  overflow-x: hidden;
}